/* Justin Koch */

/* =============== setup =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #243E36;
    --light-color: #F1F7ED;
    --accent-color-1: #7CA982;
    --accent-color-2: #E0EEC6;
    --accent-color-3: #C2A83E;
    --indent-size: 20px;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: 'Chakra Petch', sans-serif;
}

/* =============== generic =============== */

/****** lists ******/
.list {
    list-style-type: none;
}

/****** items ******/
.list__item {
    margin-left: var(--indent-size);
}

/****** section__header ******/
.section__header {
    font-size: 2em;
    text-align: center;
    margin: 0 auto 20px;
}

.section__header::after {
    content: " ";
    display: block;
    margin: auto;
    width: 30%;
    border-bottom: 2px solid var(--accent-color-3);
}

/****** section ******/
section {
    padding: 20px 10% 40px 10%;
    margin: 0 auto;
}

/****** icons ******/
.small-icon {
    height: 25px;
    width: 25px;
}

.link-icon {
    background-image: url(../assets/images/arrow-up-right-from-square-solid.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 0.875em;
    padding-right: 1em;
}

/***** accent *****/
.accent-info {
    font-size: 2em;
}

/****** title ******/
.light-title {
    font-size: 2em;
    font-weight: 100;
    color: var(--accent-color-2)
}

/****** blob ******/
.blob-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blob {
    box-shadow: 0 0 5px black;
    padding: 5px;
    margin: 10px;
    background-color: var(--light-color);
    color: var(--dark-color)
}

.blob__title {
    font-size: 2em;
    text-align: center;
}

.blob__title::after {
    content: "";
    margin: 0 auto 10px;
    display: block;
    width: 50%;
    border-bottom: 1px solid var(--accent-color-3);
}

/* =============== specific =============== */

/****** header ******/
header {
    border-bottom: 2px var(--light-color) solid;
    width: 100%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    font-size: 1.5em;
    padding: 10px 0;
}

.list__item--nav {
}

.list__item--nav a {
    border-bottom: transparent solid 2px;
    transition: border-bottom 250ms;
    color: var(--accent-color-1);
}

.list__item--nav a:hover {
    border-bottom: beige solid 2px;
}

/***** Intro *****/
#intro-wrapper {
    height: 500px;
    display: flex;
    justify-content: center;
}

.intro {
    width: 662px;
}

.greeting {
    font-size: 3em;
    position: relative;
}

.name-title {
    position: relative;
    width: fit-content;
    left: 320px;
    top: -74px;
    z-index: 3;
}

.name {
    font-size: 4em;
    z-index: inherit;
}

.current-title {
    font-size: 2em;
    position: relative;
    left: 20px;
    z-index: inherit;
    line-height: 60%;
}

.picture-of-me {
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    position: relative;
    top: -150px;
    z-index: 3;
}

.box-with-notches {
    height: 4em;
    position: relative;
    left: -70px;
    z-index: 2;
}

.abstract-box {
    position: relative;
    width: calc(100% + 100px);
    height: 100%;
    background-color: var(--accent-color-1);
}

.notch {
    width: 2em;
    height: 2em;
    transform: rotate(45deg);
    background-color: var(--dark-color);
    position: relative;
}

.left-notch {
    left: -1em;
    top: -5em;
}

.right-notch {
    left: calc(762px - 1em);
    top: -3em;
}

.accent-info--header {
    position: relative;
}



/****** about ******/
#about {
    background-color: var(--light-color);
    color: var(--dark-color);
    overflow: hidden;
    padding-left: 15%;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    position: relative;
    left: -5%;
}

.about__info-cluster {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px;
    margin: 0 15px 10px;
    border-radius: 5px;
    width: fit-content;
    min-width: 300px;
}

.info-cluster__title::after {
    content: " ";
    display: block;
    width: 100px;
    border-bottom: 1px solid var(--accent-color-3);
    margin-bottom: 10px;
}

.about__info {
    float: left;
}

.light-accent-color {
    color: white;
}

.quote-wrapper {
    position: relative;
    margin-bottom: 40px;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.abstract-circle {
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.abstract-circle-1 {
    height: 60px;
    width: 60px;
    top: 60%;
    left: -10px;
    background-color: var(--accent-color-1);
}

.abstract-circle-2 {
    height: 30px;
    width: 30px;
    top: 50%;
    left: 60px;
    background-color: var(--accent-color-2);
}

.abstract-circle-3 {
    height: 20px;
    width: 20px;
    top: 45%;
    left: 110px;
    background-color: var(--accent-color-3);
}

.my-fancy-quote {
    font-size: 1.5em;
    font-family: 'Courgette', cursive;
}

.my-fancy-quote--pt-2 {
    padding-left: 50px;
}

.info__title {
    font-size: 2em;
    font-weight: 400;
}

.info__list {
    font-size: 1.25em;
    list-style-type: disc;
}

/****** projects ******/
.projects-inner {
    list-style: none;
}

.caret-btn {
    background-color: transparent;
    border: none;
    height: 25px;
    width: 25px;
    display: inline;
    transition: transform 250ms;
}

.project-caret {
    height: 100%;
    width: 100%;
    color: white;
    display: inline;
}

.project-details {
    display: none;
}

.t1-list {
    list-style-position: inside;
    text-indent: var(--indent-size);
}

.t2-list {
    list-style-position: inside;
    text-indent: calc(2 * var(--indent-size));
}

/****** ambition ******/
#ambition {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/images/20220511_135813.jpg);
    background-position: center;
    background-attachment: fixed;
}

.blob-wrapper--ambition {
    display: flex;
    justify-content: center;
}

.blob__ambition {
    flex: 0 0 31%;
    min-width: 272px;
}

/****** contact ******/
#contact {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.blob--contact {
    width: fit-content;
    box-shadow: none;
    margin: 0 auto;
    font-size: 1.5em;
}

/****** footer ******/
footer {
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
}

.footer-grid {

}

.footer-grid-item-1 {
    text-align: left;
}

.footer-grid-item-2 {
    text-align: right;
    color: white;
}

.footer-github {
    color: white;
}

/****** mobile adjustments ******/
@media screen and (max-width: 900px) {
    .nav__list {
        font-size: 1.1em;
    }

    #intro-wrapper {
        height: auto;
    }

    .intro {
        width: 300px;
    }

    .greeting {
        position: static;
        display: none;
    }

    .name-title {
        position: static;
        margin-bottom: 20px;
    }

    .name {
        position: static;
        text-align: center;
        line-height: 1em;
        height: 128px;
        width: 200px;
        margin: auto auto 8px;
        background-color: var(--dark-color);
    }

    .name::before {
        content: " ";
        width: 208px;
        height: 136px;
        position: relative;
        right: 4px;
        bottom: 4px;
        display: block;
        z-index: -1;
        background-image: linear-gradient(to right, var(--accent-color-3), var(--accent-color-2), var(--accent-color-3));
    }

    .name-name {
        position: relative;
        top: calc(-110%);
    }

    .current-title {
        position: static;
        line-height: normal;
        text-align: center;
    }

    .picture-of-me {
        position: static;
    }

    .box-with-notches {
        display: none;
    }
}
